Tools/Keil/Project/objs/*
*.o
*.d
*.ko
*.obj
*.elf
*.rar
*.zip
*.bak
*.tmp
*.crf
si/*
*.uvgui.*
.cproject
.project
.settings/*
Bin/*
*.img
*.bin
*.output/
*.out
*.map
*.lst
.vscode
tools/makeimg
tools/makeimg_all
b_full.sh
bin/w600/
flashw600.sh
sharedAppContainer/sharedApp/
w600-gcc-arm/
*.sh
